<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Ahmed Blog</h1>
        <p class="lead">Welcome</p>
        <hr class="my-4">
        <p>Welcome to the App</p>
       
        <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg"%>
    </div>
</div>



